.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

body {
    overflow: hidden;
}

.canvas {
    background: #ffffff;
    margin: 0;
}

.top-tools {
    position: absolute;
    top: 40px;
    left: 100px;
    right: 100px;
}

.top-tools .width-control {
    display: flex;
    align-items: center;
}

.top-tools .width-control>button::after {
    content: '';
    display: block;
    background: #36435E;
    width: 50px;
    margin: 10px 0;
}

.top-tools .width-control>button:nth-child(1)::after {
    height: 10px;
    border-radius: 5px;
}

.top-tools .width-control>button:nth-child(2)::after {
    height: 5px;
    border-radius: 2.5px;
}

.top-tools .width-control>button:nth-child(3)::after {
    height: 2px;
    border-radius: 1px;
}

.bottom-tools {
    position: absolute;
    bottom: 40px;
    left: 100px;
    right: 100px;
}

.bottom-tools button {
    font-size: 32px;
    margin: 0 4px;
    width: 54px;
    height: 54px;
}


.bottom-tools button.active {
    background: #FFCC00;
    border-radius: 8px;
}

.bottom-tools .palette {
    position: absolute;
    right: 0;
    bottom: 0;
}

.bottom-tools .palette {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-tools .palette .color {
    width: 30px;
    height: 30px;
    background: #00D09C;
    border-radius: 100%;
    margin: 10px 0;
}

.bottom-tools .palette .color:nth-child(1) {
    background: #E4001F;
}

.bottom-tools .palette .color:nth-child(2) {
    background: #FBCF00;
}

.bottom-tools .palette .color:nth-child(3) {
    background: #00D09C;
}

.bottom-tools .palette .color:nth-child(4) {
    background: #4389F2;
}

.bottom-tools .palette .color:nth-child(5) {
    background: #6D00A2;
}

.bottom-tools .palette .color:nth-child(6) {
    background: #36435E;
}

@media (max-width: 768px) {
    .top-tools {
        left: 20px;
        right: 20px;
        top: 10px;
    }
    .bottom-tools {
        left: 20px;
        right: 20px;
        bottom: 10px;
    }
}