.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    overflow: hidden;
}

.canvas {
    background: #ffffff;
    margin: 0;
}

.tools {
    position: absolute;
    bottom: 40px;
    left: 100px;
    right: 100px;
}

.tools button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 32px;
    margin: 0 8px;
    width: 54px;
    height: 54px;
}

.tools button.active {
    background: #FFCC00;
    border-radius: 8px;
}

.tools .palette {
    position: absolute;
    right: 0;
    bottom: 0;
}

.tools .palette {
    position: absolute;
    bottom: 0;
    right: 0;
}

.tools .palette .color {
    width: 30px;
    height: 30px;
    background: #00D09C;
    border-radius: 100%;
    margin: 10px 0;
}

.tools .palette .color:nth-child(1) {
    background: #E4001F;
}

.tools .palette .color:nth-child(2) {
    background: #FBCF00;
}

.tools .palette .color:nth-child(3) {
    background: #00D09C;
}

.tools .palette .color:nth-child(4) {
    background: #4389F2;
}

.tools .palette .color:nth-child(5) {
    background: #6D00A2;
}

.tools .palette .color:nth-child(6) {
    background: #36435E;
}

@media (max-width: 768px) {
    .tools {
        left: 20px;
        right: 20px;
        bottom: 10px;
    }
}